@@ -0,0 +1,168 @@
html, body{
    margin: 0;
    padding: 0;
}

.blog{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(7, .5fr);
    justify-content: center;
}

#top{
    background: rgb(196, 204, 212);
    grid-column: 1 / 4;
    grid-row: 1 / 2 ;
    margin: 10px;
    border-radius: 9px;
    text-align: center;
}

#sidebar{
    background: rgb(73, 74, 75);
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    margin: 10px;
    border-radius: 9px;
    text-align: center;
}

#content{
    background: #494a4b;
    grid-column: 1 / 4;
    grid-row: 3 / 6;
    margin: 10px;
    border-radius: 9px;
    text-align: center;
}

#sidebar2{
    background: grey;
    grid-column: 1 / 4;
    grid-row: 6 / 7;
    margin: 10px;
    border-radius: 9px;
    text-align: center;
}

#bottom{
    background: rgb(196, 204, 212);
    grid-column: 1 / 4;
    grid-row: 7 / 8;
    margin: 10px;
    border-radius: 9px;
    text-align: center;

}

/* Tablet View */
@media (min-width: 768px) and (max-width:  1024px) {
    .blog{
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        grid-template-rows: repeat(7, .5fr);
        justify-content: center;
    }
    
    #top{
        background: rgb(196, 204, 212);
        grid-column: 1 / 5;
        grid-row: 1 / 2;
        margin: 10px;
        border-radius: 9px;
        text-align: center;
    }
    
    #sidebar{
        background: rgb(73, 74, 75);
        grid-column: 1 / 2;
        grid-row: 2 / 5;
        margin: 10px;
        border-radius: 9px;
        text-align: center;
    }
    
    #content{
        background: #494a4b;
        grid-column: 2 / 5;
        grid-row: 2 / 5;
        margin: 10px;
        border-radius: 9px;
        text-align: center;
    }
    
    #sidebar2{
        background: grey;
        grid-column: 1 / 5;
        grid-row: 5 / 6;
        margin: 10px;
        border-radius: 9px;
        text-align: center;
    }
    
    #bottom{
        background: rgb(196, 204, 212);
        grid-column: 1 / 5;
        grid-row: 6 / 7;
        margin: 10px;
        border-radius: 9px;
        text-align: center;
    }
}

/* Laptop View*/
@media (min-width: 1024px) /* and (max-width:  1600px)*/ {
    .blog{
        display: grid;
        grid-template-columns: repeat(6, 2fr);
        grid-template-rows: repeat(4, 1fr);
        justify-content: center;
    }
    
    #top{
        background: rgb(196, 204, 212);
        grid-column: 1 / 6;
        grid-row: 1 / 2 ;
        margin: 10px;
        border-radius: 9px;
        text-align: center;
    }
    
    #sidebar{
        background: rgb(73, 74, 75);
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        margin: 10px;
        border-radius: 9px;
        text-align: center;
    }
    
    #content{
        background: #494a4b;
        grid-column: 2 / 5;
        grid-row: 2 / 4;
        margin: 10px;
        border-radius: 9px;
        text-align: center;
    }
    
    #sidebar2{
        background: grey;
        grid-column: 5 / 6;
        grid-row: 2 / 4;
        margin: 10px;
        border-radius: 9px;
        text-align: center;
    }
    
    #bottom{
        background: rgb(196, 204, 212);
        grid-column: 1 / 6;
        grid-row: 4 / 5;
        margin: 10px;
        border-radius: 9px;
        text-align: center;
    
    }
}